.toDO__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .toDoList {
        margin-top: 20px;
        display: flex;
        margin-left: 12px;
        padding-bottom: 10px;
    }

    .contextMenu{
        background-color: white;
    }

}