.block {
    width: 272px;
    margin-right: 15px;
    background-color: #ebecf0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    margin: 0 10px;
    min-height: 0;
    padding: 0 4px;

    .header {
        padding: 10px;
        font-weight: 600;
        color: #282828;
    }

    .content__wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        .task {
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
            cursor: pointer;
            margin-bottom: 8px;
            max-width: 300px;
            min-height: 50px;
            padding: 6px 10px 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: flex;
            position: relative;

            .status {
                color: #7ed000;
                margin-top: 27px;
            }

            label {
                word-wrap: break-word;
                min-height: 50px;
                width: 100%;

                span {
                    border-left: 2px solid black;
                }
            }

            input {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
            }

            .task__button {
                padding: 6px 12px;
                background-color: #0079bf;
                color: #fff;
                border-radius: 3px;
            }

            .edit,
            .delete {
                opacity: 0;
                position: absolute;
                right: 2px;
                top: 1px;
                padding: 5px;
                transition: 0.5s;

                &:hover {
                    background-color: #ebecf0;
                }
            }

            .edit {
                right: 25px;
            }

            p {
                width: 160px;
            }

            &:hover {

                .edit,
                .delete {
                    opacity: 1;
                }
            }
        }

        .newTask {
            flex-direction: column;
        }
    }

    .addTask {
        font-size: 14px;
        padding: 5px;
        border-radius: 3px;
        transition: 0.5s;
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #42526e;
            color: white;
            transition: .5s;
        }

        &::before {
            content: "+";
            font-size: 20px;
            font-weight: bold;
            padding-right: 5px;
        }

    }
}