header {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(6px);

    .wrapper {
        height: 7vh;
        color: white;
        display: flex;
        align-items: center;

        .logo {
            margin: 0 420px 0 100px;

            img {
                max-height: 7vh;
            }
        }

        .links {
            display: flex;
            font-size: 20px;

            li {
                margin-right: 70px;
            }
        }
    }
}